.workout-index{
  height: 1000px;
}
.workout-index-navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 80px;
  // width: 600px;
  font-size: 24px;
  align-items: flex-start;
  a{
    text-decoration: none;
    border: 1px solid #ccc;
    color: black;
    padding: 10px;
    font-size: 18px;
  }
}

.workout-index-header{
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.workout-totals{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.workout-total-header{
  text-align: left;
  width:300px;
}
.workout-total-container{
  border: 1px solid black;
  width: 300px;
  height: 200px;
}
