.create-workout-page{
  height: 1000px;
}
.create-workout-form{
  display: flex;
  // justify-content: space-between;
  padding: 20px;
  width: 500px;
  .cancel-save-buttons{
    display: flex;
    justify-content: flex-end;
    input{
      border: 1px solid #ccc;
      font-size: 14px;
      padding: 10px;
    }
  }
  .create-workout-title{
    padding-left: 10px;
    width: 500px;
    height: 35px;
    font-size: 14px;
  }
  .workout-description-field{
    textarea {
      padding-left: 10px;
      font-size: 14px;
      width: 500px;
      height: 50px;
    }
  }
  button{
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 10px;

  }
  div{
    padding: 10px 0;
  }
  .choose-routes{
    display: flex;
    justify-content: flex-start;
  }
  .cancel-button{
    background-color: white;
    a{
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .route-index-list{
    margin: 10px;
    cursor: pointer;
  }
  .route-index-header-small{
    a{
      text-decoration: none;margin: 10px 0;
      width: 100px;
      padding: 10px;
      background-color: #FF4500;
      color: white;
    }
  }

  .save-button{
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
