.workout-index{
  height: 1000px;
}
.workout-index-navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 80px;
  // width: 600px;
  font-size: 24px;
  align-items: flex-start;
  // flex-direction: column;
  a{
    text-decoration: none;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 110px;
    color: white;
    background-color: #FF4500;
    padding: 10px;
    font-size: 18px;
  }
}

.workout-index-header{
  display: flex;
  width: 600px;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
.workout-index-list{
  width: 400px;
  padding: 20px 0;
  font-size: 20px;
  .workout-item{
    border: 1px solid black;
    margin-bottom: 20px;
    li{
      margin: 10px;
    }
  }
}


.workout-item{
  background-color: #f7f7f7;
}
