@font-face {
  font-family: 'LemonMilk';
  src: asset-url('custom-fonts/LemonMilk.otf')

}
.home-page-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-page-logo    {
  text-decoration: none;
  font-size: 24px;
  // margin-left: 400px;
  color: #FF4500;
  font-weight: bolder;
  font-family: 'LemonMilk';
}

.home-page-nav-links {
  display: flex;
  align-items: center;
  padding: 10px;
}

.home-page-nav-links div{
  display: flex;
  margin-left: 50px;
}
.home-page-nav-links div::after{
  content: "\2304";

}
