@font-face {
  font-family: 'LemonMilk';
  src: asset-url('custom-fonts/LemonMilk.otf')

}
.home-page-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  background-color: white;
  z-index: 2;
}
.home-page-dropdown{
  // cursor: pointer;
}
.home-page-logo    {
  text-decoration: none;
  font-size: 24px;
  // margin-left: 400px;
  color: #FF4500;
  font-weight: bolder;
  font-family: 'LemonMilk';
}

.home-page-nav-links {
  display: flex;
  align-items: center;
  padding: 10px;
}

.home-page-dropdown{
  display: flex;
}


.home-page-nav-links button{
  display: flex;
  margin-left: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}
.home-page-nav-links button::after{
  content: "\2304";

}
