@font-face {
  font-family: 'LemonMilk';
  src: asset-url('custom-fonts/LemonMilk.otf')

}
.home-page-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid #e2e2e2;
}
.home-page-dropdown{
  // cursor: pointer;
  width: 400px;
  justify-content: center;
}
.home-page-logo    {
  text-decoration: none;
  font-size: 24px;
  // margin-left: 400px;
  color: #FF4500;
  font-weight: bolder;
  font-family: 'LemonMilk';
}

.home-page-nav-links {
  display: flex;
  align-items: center;
  padding: 10px;
}


.home-page-dropdown{
  display: flex;
}


.home-page-nav-links button{
  display: flex;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
}
.home-page-nav-links button::after{
  content: "\2304";

}

.dashboard-container{
  position: relative;
  // height: 35px;
  // padding: 10px 0;
  button{
    border: 1px solid transparent;
  }
  div{

    display: none;
    border: 1px solid green;
    position: absolute;
    left: 10px;
    top: 0px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
  }
}


.dashboard-container:hover{

  button{
    padding: -1px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;


  }
  div{
    display: block;
    a{

      text-decoration: none;
    }
  }
}
