@font-face {
  font-family: 'LemonMilk';
  src: asset-url('custom-fonts/LemonMilk.otf')

}
.index-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-content{
  background-image: image-url('snowmobiles-2035500_12801.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  // height: 800px;


}

.index-header{
  text-decoration: none;
  font-size: 24px;
  color: #FF4500;
  font-weight: bolder;
  margin-left: 20px;
  font-family: 'LemonMilk';
}

.login-signup a{
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #666;
  padding: 5px;
  border: 1px solid #D3D3D3;
}
