.route-index-page{
  height: 1000px;
}

.route-index-container{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 80px;

}
.route-index-header{
  display: flex;
  // justify-content: flex-start;
  width: 600px;
  font-size: 24px;
  // align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  a{
    text-decoration: none;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 100px;
    padding: 10px;
    font-size: 18px;
    background-color: #FF4500;
    color: white;
  }
}
.route-index-list{
  // margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px;
  div{
    // margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    // height: 100px;
    margin: 20px 20px 20px 0;
    width: 250px;
    margin-bottom: 20px;
    li{
      display: flex;
      justify-content: center;
      // padding: 10px;
      margin: 10px;
    }
  }
}
.route-item{
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  .route-item-title{
    // color: #007FB6;
    // color: #FF4500;
    font-weight: bold;
  }
  .route-item-distance{
    border: none;
    li{
      margin: 0;
      align-items: flex-end;
      strong{
        font-size: 20px;
      }

    }
    .distance-label{
      text-align: center;
      font-size: 13px;
      color: #999;
    }
  }

}
