@font-face {
  font-family: 'LemonMilk';
  src: asset-url('custom-fonts/LemonMilk.otf')

}
.index-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.index-content{
  background-image: image-url('snowmobiles-2035500_12801.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  // height: 800px;


}

.index-header{
  text-decoration: none;
  font-size: 24px;
  color: #FF4500;
  font-weight: bolder;
  margin: 0 300px;
  font-family: 'LemonMilk';
}

.login-signup {
  margin: 0 300px;
  height: 100px;
  display: flex;
  align-items: center;
}

.login-signup a{
  display: flex;
  margin-right: 20px;
  background-color: #FF4500;
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 10px;
  border: 1px solid #D3D3D3;
  height: 40px;
  width: 100px;
  justify-content: center;
  align-items: center;

}
.index-content{
  position: relative;
  display: flex;
}
.index-header-title{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  top: 400px;
  left: 20px;
  font-size: 50px;
  color: white;
  font-family: Helvetica;

}
